.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 10px;
  color: white;
}

.App-header h2 {
    font-size: 0.75em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*custom styles*/

.repos-table {
    margin-left: auto;
    margin-right: auto;
    border: 1px #000 solid;
    border-collapse: collapse;
    max-width: 1000px;
}

.repos-table th {
    padding: 10px;
    border: 1px #000 solid;
}

.repos-table td {
    text-align: left;
    border: 1px #000 solid;
}

.repos-table td div {
    resize: horizontal;
    overflow: auto;
    margin: 0px;
    padding: 10px 20px;
    display:block;
    border: 0;
    width: auto;
    height: auto;
}

.search-box {
    margin-top: 15px;
    margin-bottom: 15px;
}

.repos-graph {
    margin: 15px;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.legend span {
    display: inline-block;
}